<!DOCTYPE html>
<html>
<head>
  <title>Editor</title>
  <link rel="stylesheet" href="https://swag31415.github.io/Portfolio/css/fontawesome-free-6.0.0-beta2-web/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="css/editor.css">
</head>
<body>
  <div id="app">
    <div class="container">
      <div class="left">
        <textarea v-model="text" class="editor"></textarea>
      </div>
      <div class="right">
        <div id='main'>
          <h1>{{ data.Name }}</h1>
          <p>{{ data.About }}</p>
          <div class="section" v-for="(section, section_name) in data.sections">
            <h2>{{ section_name }}</h2>
            <div class='border'></div>
            <div class="subsection" v-for="(subsection, subsection_name) in section">
              <div class="subsection_title">
                <h3 :style="{'font-weight': (subsection.header && (subsection.header.Role || subsection.header.Degree)) ? 'lighter' : 'bold'}"><span style="font-weight: bold;" v-if="subsection.header && subsection.header.Role">{{ subsection.header.Role }} at </span>{{ subsection_name }}<span style="font-weight: bold;" v-if="subsection.header && subsection.header.Degree">, {{ subsection.header.Degree }}</span></h3>
                <h3 v-if="subsection.header && subsection.header.Start && subsection.header.End">{{ subsection.header.Start }} - {{ subsection.header.End }}</h3>  
                <h3 v-if="subsection.header && subsection.header.Graduation">{{ subsection.header.Graduation }}</h3>  
              </div>
              <ul v-if="subsection.details">
                <li v-for="detail in subsection.details">{{ detail }}</li>
              </ul>
            </div>
          </div>
        </div>
        <div id="side">
          <img :src="data.Portrait" class="profile_pic">
          <div class='boats'>
            <div><i class="far fa-envelope"></i> <a :href="'mailto:' + data.Email">{{ data.Email }}</a></div>
            <div><i class="fas fa-phone-alt"></i> {{ data.Phone }}</div>
            <div><i class="fab fa-linkedin"></i> <a :href="'https://www.' + data.LinkedIn">{{ data.LinkedIn }}</a></div>
            <div><i class="fas fa-globe"></i> <a :href="'https://' + data.Portfolio">{{ data.Portfolio }}</a></div>
            <div><i class="fas fa-map-marker-alt"></i> {{ data.Location }}</div>
          </div>
          <div class="side" v-for="(side, side_name) in data.sides">
            <h3>{{ side_name }}</h3>
            <div v-if="side.details" class='bricks'>
              <div v-for="detail in side.details">{{ detail }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="js/peg-0.10.0.min.js"></script>
  <script type="module" src="js/editor.js"></script>
</body>
</html>